// bower:scss
// endbower

body {
    background: #fafafa;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
canvas {
    border: 1px solid blue;
}
.header {
    background-color: #369;
    max-width: 100%;
    min-height: 30px;
    padding: 15px;

    .uploader-wrap {
        margin: 0 auto;
        width: 920px;

        .image-upload::-webkit-file-upload-button {
            visibility: hidden;
        }

        .image-upload {
            display: block;
            height: 30px;
            width: 200px;

            &:before {
                background-color: #FFF;
                margin: 0 10px 0 0;
                content: 'Select file';
                display: inline-block;
                border: 1px solid #999;
                border-radius: 3px;
                padding: 5px 8px;
                outline: none;
                white-space: nowrap;                
                cursor: pointer;
                font-size: 10px;
            }

            &:hover::before {
                color: #3385D6;
            }
        }


        .photo-uploader {
            border-radius: 3px;
            border: none;
            height: 25px;
            width: 200px;
        }

        .submit-photo {
            background-color: #3385D6;
            border-radius: 3px;
            border: none;
            height: 30px;
            outline: none;
            width: 100px;

            &:hover {
                background-color: #66A3E0;
            }

            &:active {
                background-color: #06C;
                color: #fff;
            }

        }
    }
}

.content {
    margin: 0 auto 15px;
    max-width: 920px;
    
    .image-detail {
        background-color: #FFF;
        overflow: hidden;
        width: 920px;

        .image-editor {
            overflow: hidden;

            .photo-detail {
                float: left;
                margin: 20px;
                overflow: hidden;
                position: relative;
                width: 500px;

                img {
                    width: 100%;
                }
                .caption-container {
                    background-color: rgba(51, 51, 51, 0.8);
                    bottom: 2px;
                    color: #FFF;
                    margin: 0;
                    padding: 10px;
                    position: absolute;
                    width: 100%;
                }
            }

            .editor {
                background-color: #999;
                float: left;
                margin: 20px;
                padding: 15px;

                .image-upload::-webkit-file-upload-button {
                    visibility: hidden;
                }

                .image-upload {
                    display: block;
                    height: 30px;
                    width: 200px;

                    &:before {
                        background-color: #FFF;
                        margin: 0 10px 0 0;
                        content: 'Select file';
                        display: inline-block;
                        border: 1px solid #999;
                        border-radius: 3px;
                        padding: 5px 8px;
                        outline: none;
                        white-space: nowrap;                
                        cursor: pointer;
                        font-size: 10px;
                    }

                    &:hover::before {
                        color: #3385D6;
                    }
                }


                .photo-uploader {
                    border-radius: 3px;
                    border: none;
                    height: 25px;
                    width: 200px;
                }

                .submit-photo {
                    background-color: #3385D6;
                    border-radius: 3px;
                    border: none;
                    height: 30px;
                    outline: none;
                    width: 100px;

                    &:hover {
                        background-color: #66A3E0;
                    }

                    &:active {
                        background-color: #06C;
                        color: #fff;
                    }

                }
            }
        }
    }
    
    .photo-container {
        background-color: #D6E0EB;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        overflow: hidden;
        padding: 10px;


        .image-holder {
            background-color: #FFF;
            float: left;
            height: 200px;
            margin: 0 1% 2% 0;
            max-width: 165px;
            padding: 3px;

            .thumbnail-container {
                overflow: hidden;
                max-height: 165px;

                img {
                    width: 100%;
                }
            }
        }
    }
}
